<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Login</title>
</head>
<body>
	<h1>Login</h1>
	<form method="post" action="/login">
		<dl>
			<dt>login name <input type="text" name="name"></dt>
			<dt>password <input type="text" name="password"></dt>
			<dt><input type="submit" value="login"></dt>
		</dl>
	</form>
	<a href="/">back</a>
</body>
</html>
