<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>New Bookmark | kodama</title>
</head>
<body>
	<h1>New Bookmark</h1>
	<form method="post" action="/new">
		<dl>
		<dt>title <input type="text" name="title" value="<%= hints[:title] %>"></dt>
		<dt>url <input type="text" name="url" value="<%= hints[:url] %>"></dt>
		<dt>tag <input type="text" name="tag"></dt>
		<dt>note<input type="text" name="note" value="<%= hints[:note] %>"></dt>
		<dt><input type="submit" value="create"></dt>
		</dl>
	</form>
	<a href="/">back</a>
</body>
</html>